
.features{
//     @media screen and (max-width: 1200px) {
//         display: none;
// }
        
    

      &__list {
          // display: flex;
          // justify-content: space-between;
        
          }

      &__item {
         
          width: 100%;
          // margin-left: 30px;
          }

      // &__item--margin {
      //     margin-left: 0;
      //     }

      &__thumb{
          display: flex;
          align-items: center;
          justify-content: center;
          height: 120px;
          background: var(--bgcolor2);
          border-radius: 4px;
          margin-bottom: 30px;
          }



      &__title {
          font-weight: 700;
          font-size: 14px;
          line-height: 1.14;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          color: var(--title-color);
          margin-bottom: 10px;
                    
          }
          
      &__text {
          font-size: 14px;
          line-height: 1.7;
          letter-spacing: 0.03em;
        }

}
