.page-header {
  border-bottom: 1px solid #ececec;
}

.menu-container{
   
        @media screen and (max-width: $tablet){
              display: none;
              
        }  
         @media screen and (min-width: $tablet){
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 100%;
        }
         @media screen and (min-width: $desktop){
              display: flex;
              align-items: center;
              justify-content: space-between;
        }
        
}
.site-nav {
        @media screen and (min-width: $tablet){
              display: flex;
              align-items: center;
              // justify-content: space-between;
              
        }

        &__list {
          
          @media screen and (min-width: $tablet){
              display: flex;
              margin-left: 93px;
             
                              
          }
          @media screen and (min-width: $desktop){
              display: flex;
              margin-left: 88px;
          }
        }

        &__item {
          margin-right: 50px;
          
        }

        &__item--margin {
          margin-right: 0px;
        }

        &__link {
          position: relative;
          display: block;
          font-weight: 500;
          font-size: 14px;
          line-height: 1.14;
          letter-spacing: 0.02em;
          padding-top: 32px;
          padding-bottom: 32px;
          
          color: var(--title-color);
          transition: color var(--ttime) var(--cubic);

          &:hover,
          &:focus {
            color: var(--theme-color);
          }
        }

        &__link--current {
          color: var(--theme-color);
        }

        &__link--current::after {
          position: absolute;
          display: block;
          content: '';
          width: 100%;
          height: 4px;
          left: 0;
          bottom: 0;
          border-radius: 2px;
          background-color: var(--theme-color);
          /* margin-top: 28px; */
        }  
}


.contacts {
  
          @media screen and (min-width: $tablet){
                              display: flex;
                              flex-direction: column;
                              align-items: flex-start;
                              
                              
                        }
                @media screen and (min-width: $desktop){
                     display: flex;
                     flex-direction: row;
                     
                     
                }


     


      &__item{
          @media screen and (min-width: $tablet){
              align-items: flex-start;
              margin-bottom: 10px;
                              
          }
          @media screen and (min-width: $desktop){
             margin-bottom: 0px;
              
          }


      }
       &__item--margin {
        @media screen and (min-width: $tablet){
             margin-bottom: 0px;
        }    
        @media screen and (min-width: $desktop){
              margin-left: 50px;
          }
        
      }


      &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        line-height: 1.17;
        font-weight: 500;
        
        letter-spacing: 0.02em;
        color: var(--text-color);
        
        fill: var(--clients-color);
        
        transition: color var(--ttime) var(--cubic), fill var(--ttime) var(--cubic);

          @media screen and (min-width: $tablet){
             line-height: 1.17;
             font-weight: 500;
              
                              
          }
          @media screen and (min-width: $desktop){
              font-size: 14px;
              line-height: 1.14;
          }


              &:hover,
              &:focus {
                color: var(--theme-color);
                fill: var(--theme-color);
              }
      }

     
      &__icon {
        margin-right: 10px;
      }  
}

