.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bgcolor-accent);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Img-hero-bg.jpg);
  background-position: center;

        &__title {
          color: var(--white-color);
          text-transform: uppercase;
          font-weight: 900;
          font-size: 44px;
          line-height: 1.4;
          text-align: center;
          letter-spacing: 0.06em;
          margin-bottom: 30px;
        }

}
