.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: black;
  
}

.logo__first-part{
  color: var(--theme-color);
}

// .footer-logo {
  
// }