:root {
  --theme-color: #2196f3;
  --title-color: #212121;
  --bgcolor-accent: #2f303a;
  --white-color: #ffffff;
  --text-color: #757575;
  --bgcolor2: #f5f4fa;
  --box-shadows: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --box-shadows-item: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --box-shadows-btn: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --clients-color: #afb1b8;
  --gallery-border: #eeeeee;
  --ttime: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

$mobile: "480px";
$tablet: "768px";
$desktop: "1200px";
